@font-face {
  font-family: 'digital-7';
  src: url('./fonts/digital-7.ttf');
}

.calc-container {
  background: url('./imgs/plastic.jpg');
  border-radius: 0.5vmax;
  max-width: fit-content;
}

.calc-button {
  font-size: 4vmax;
  width: 8vmax;
  text-align: center;
  margin: 0.25vmax;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgrey;
  border-color: black;
  color: black;
  border-radius: 0.5vmax;
}

.red-button {
  color: rgb(125, 37, 37)
}

.num-pad {
  display: block;
  width: 27vmax;
  margin: 0.75vmax auto 0.75vmax 0.75vmax;
}

.ops-pad {
  display: block;
  width: 18vmax;
  margin: 0.75vmax 0.75vmax 0.75vmax auto;
}

.clicked {
  background-color: dimgray;
}

.digital-display {
  font-size: 4vmax;
  text-align: right;
  margin: 0.75vmax auto 0.75vmax auto;
  font-family: 'digital-7', sans-serif;
  transform: translateY(0.75vmax)
}